<div class="recipes-list-container">

            {% for cocktail in cocktails %}

				<article class="recipe">

					<h2>{{cocktail.nom}}</h2>
					<img class="recipe-image" src="{{cocktail.image}}" alt="{{cocktail.nom}}" />
					<p>{{ cocktail.description }}</p>

					<a href="{{ path('single-cocktail', {'id' : cocktail.id}) }}">Voir le détail du cocktail</a>
					<a href="{{ path('list-categories', {'id' : cocktail.id}) }}">Voir les Catégories</a>

				</article>

			{% endfor %}
          </div>