<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ ('assets/css/style.css') }}" type="text/css" />
<title>{% block megaTitle %}{% endblock megaTitle %}</title>
</head>
<body>
    <header>

           
            </a>
                <nav class="nav-header">
                    <a href="{{ path('home')}}">
                        <img class="logo-header" src="{{ asset('assets/images/logo.jpg')}}" alt="logo toc"/>
                    <ul class="nav-menu">
                        <li><a href="{{ path('home')}}">Accueil</a></li>
                        <li><a href="{{ path('list-cocktails')}}">Liste des cocktails</a></li>
                        <li><a href="{{ path('list-categories')}}">Catégories de cocktails</a></li>
                    </ul>
        </nav>

    </header>

</body>
</html>