{% extends base.html.twig' %}

{% block main %}
    <main class="main">
    
        <h1>Détail d'un cocktail</h1>

        <div class="container">

            {% for cocktail in cocktails %}

                <article class="recipes">
                    <h2>{{cocktail.nom}}</h2>
                    <p>{{cocktail.description}}</p>
                    <img class="image-cocktails" src="{{cocktail.image}}" alt="{{cocktail.nom}}"/>
                    <p>Publié le :{{cocktail.date_creation}}</p>

                    <p>Ingrédients :</p>

                    <ul>
                        {% for ingredient in ingredients %}
                        <li>{{ingredient}}</li>
                        {% endfor %}
                    </ul>
                </article>
              
            {% endfor %}  
          </div>
    </main>

{% endblock main %}

